<!DOCTYPE html>
<html>
<head>
    <title>Keyword Search Trends Chart</title>
</head>
<body>
    <h2>Keyword Search Trends Chart</h2>
    <form action="/" method="POST">
        <label for="keyword">Enter a keyword:</label>
        <input type="text" id="keyword" name="keyword" required>
        <input type="submit" value="Go">
    </form>
    <br>
    <img src="{{ url_for('static', filename='chart.png') }}" alt="Search Trends Chart"> <br>
    <img src="{{ url_for('static', filename='chart2.png') }}" alt="Search Trends Chart with Years">

</body>
</html>
