<!DOCTYPE html>
<html>
<head>
    <title>Trend Charts</title>
    <style>
        .image-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .image-grid img {
            width: 50%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2>Keyword Search Trends Chart</h2>
    <a href="{{ url_for('index') }}">Home</a>
    <br><br>
    <div class="image-grid">
        {% for chart_filename in chart_names %}
            <img src="{{ url_for('static', filename=chart_filename) }}" alt="Chart">
        {% endfor %}
    </div>
</body>
</html>
