<!DOCTYPE html>
<html>
<head>
    <title>NOAA Chart</title>
    <style>
        .image-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .image-grid img {
            width: 50%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2>NOAA CHARTS</h2>
    <img src="{{ url_for('static', filename='map.png') }}" alt="Map">
    <img src="{{ url_for('static', filename='nat-chart.png') }}" alt="National Chart">
    <img src="{{ url_for('static', filename='ne-chart.png') }}" alt="NE Chart">
    <img src="{{ url_for('static', filename='c-chart.png') }}" alt="C Chart">
    <img src="{{ url_for('static', filename='enc-chart.png') }}" alt="ENC Chart">
    <img src="{{ url_for('static', filename='nw-chart.png') }}" alt="NW Chart">
    <img src="{{ url_for('static', filename='s-chart.png') }}" alt="S Chart">
    <img src="{{ url_for('static', filename='se-chart.png') }}" alt="SE Chart">
    <img src="{{ url_for('static', filename='sw-chart.png') }}" alt="SW Chart">
    <img src="{{ url_for('static', filename='w-chart.png') }}" alt="W Chart">
    <img src="{{ url_for('static', filename='wnc-chart.png') }}" alt="WNC Chart">
</body>
</html>
